* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
background-color: black;

}

body{
    color: green;
    font-family: 'JetBrains Mono', monospace;
    font-size: x-large;
    font-weight: lighter;
    line-height: 2em;
}
.border{
  background-color: rgb(1, 1, 17);
  padding: 20px 20px 0px 60px;
  border-color: rgb(10, 77, 46);
  border-style: solid;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .header {
    float: none;
    display: block;   
  }
  #about-me div{
    padding-top: 30px;
    
  }
  
}
 

img {
  border-radius: 15px;
  max-width: 100%; 
    height: auto; 
  
}

.profile {
  float: none;
  display: inline-block;
   line-height : 8px;
  padding-top: 50px;
   
}

#skills-sec{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: rgb(120, 172, 41);
  
}

#skills-sec h2{
  margin-top: -5px;
}

#skills {
  list-style: none;
  margin-left: -40px;
}
#skills li{
  border-radius: 4px;
  background-color: rgb(17, 80, 50);
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

}
#about-me div{
  padding-top: 10px;
 
}

#about-me{
  padding-top: 20px;
  
}

@keyframes contact {
  from {color: blue;}
  to {color: yellow;}
}
.contact {
  color: green;
  animation-name: contact;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.footer{
    font-family: 'JetBrains Mono', monospace;  
    text-align: right;
    margin-top: 100px;
    height: 30px;
}
#footer2{
  background-color: cadetblue;
 
}